.customer_list {
  background-color: crimson;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
}

.customer_list img {
  width: 50px;
  height: 50px;
  background-color: wheat;
  border-radius: 50%;
}

.customer_list h3 {
  margin: 20px;
}
